* {
	box-sizing: border-box;
}

.logo {
	height: 35px;
	margin: 15px auto;
	display: block;
}

body {
	background-color: #3F94E7;
}

form {
	margin: 0 auto;
	width: 400px;
	padding: 0 40px;
	background-color: white;
	border-radius: 5px;
}

form h1 {
	text-align: center;
	padding: 30px;
	color: #565656;
	font-family: Arial;
}

main > p {
	text-align: center;
	color: white;
	font-weight: bold;
}

.link {
	color: white;
}

input, button {
	width: 320px;
	height: 55px;
	padding: 15px;
	border-radius: 3px;
	font-weight: bold;
	margin: 15px auto;
}

button {
	border: 2px solid #65C470;
	background-color: #65C470;
	margin: 15px auto 45px auto;
	color: white;
	font-size: 24px;
}

button:hover {
	background-color: #4ead55;
	border-color: #4ead55;
}

input {
	border: 2px solid #AAA9A9;
	font-size: 16px;
}

label {
	font-weight: bold;
}
